extends layout

block content
  h1= title
  - var results = Bag;
  div(class="container-fluid")
      each item,index in results
         div(class="row", onclick=`buy(${index})`)
           div(class="col-sm-2")   #{item.Bag_type}
           div(class="col-sm-2")   #{item.Bag_Name}
           div(class="col-sm-2")   #{item.Bag_cost}

  script.
   function buy(price){
      alert('You purchased item ' + price)
   } 

